@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.body{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../assets/1.png);
  height: 90vh;
  background-size: 100% 100%;
  padding: 55px 30px;
}

.body2{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../assets/1.png);
  height: 100vh;
  background-size: 100% 100%;
  padding: 55px 30px;
}
.login-container{
  font-family: 'Poppins',sans-serif;
  width: 40%;
  margin: auto;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container{
  font-family: 'Poppins',sans-serif;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
  text-decoration: none;
}
.login-container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
  text-decoration: none;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
 
}
.content Form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
.content Form .user-details1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
Form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
Form .user-details .input-box1{
  margin-bottom: 15px;
  width: calc(100%  - 20px);
}
Form .user-details1 .input-box1{
  margin-bottom: 15px;
  width: calc(100% - 20px);
}
Form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input1{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input1:focus,
.user-details .input-box input1:valid{
  border-color: #545355;
}
 
 
 
 
 Form button{
   height: 45px;
   margin: 0 50px;
 }
 Form  .input1{
   height: 100%;
   width: 40%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #999ca0, #505d61);
 }
 Form  .input2{
  height: 100%;
  width: 40%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  margin: auto;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #999ca0, #505d61);
}
 Form  .input1:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #999ca0, #505d61);
  }
  Form  .input12hover{
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #999ca0, #505d61);
    }
 
  .login{
    text-decoration: none;
    
  }