
    .body1{
        background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../assets/1.png);
        height: 90.25vh;
        overflow: hidden;
        background-size: 100% 100%;
        padding: 30px 30px;
      }
    .img-container{
    margin:auto;
    width:80%;
    text-align:center;
    font-family: 'Poppins',sans-serif;
    
  background-color: #fff;
  padding: 30px 10px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    
    }
    .img-container h1{
    font-weight:normal;
    font-size:30px;
    position:relative;
    margin-bottom:30px;
    }
    .img-container h1::before{
    content: '';
    position:absolute;
    width:100px;
    height:3px;
    background-color:crimson;
    bottom:-10px;
    left:50%;
    transform:translatex(-50%);
    animation: animate 4s linear infinite;
    }
    @keyframes animate{
    0%{
    width:100px;
    }
    50%{
    width:200px;
    }
    100%{
    width:100px;
    }
    }
    .photo-gallery{
    width:90%;
    height:70%;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px;
    }
    .pic{
    position:relative;
    height:190px;
    border-radius:10px;
    box-shadow:3px 3px 5px lightgray;
    cursor:pointer;
    }
    .pic img{
    width:100%;
    height:100%;
    border-radius:10px;
    transition:.5s;
    }
    .pic::before{
    content:attr(name);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:white;
    font-size:22px;
    font-weight:bold;
    width:100%;
    margin-top:-100px;
    opacity:0;
    transition:.3s;
    transition-delay:.2s;
    z-index:1;
    }
    .pic:after{
    content: "";
    position:absolute;
    width:100%;
    bottom:0;
    left:0;
    border-radius:10px;
    height:0;
    background-color:rgba(0,0,0,.4);
    transition:.3s;
    }
    .pic:hover::after{
    height:100%;
    }
    .pic:hover::before{
    margin-top:0;
    opacity:1;
    }